/* Контейнер-обертка */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Кнопки */
.button {
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    
    border: 0;
    border-radius: 8px;
    padding: 12px 18px;
    background-color: #68b738;
    
    cursor: pointer;
}